*, html, body {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 1em auto;
  padding: 1em;
}

.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.demo input {
  margin: 0 1em;
}
/*# sourceMappingURL=style.css.map */